@page "/Account/Manage/PersonalData"
@namespace WebWayCMS.Presentation.Components.Account.Pages.Manage
@layout WebWayCMS.Presentation.Components.Account.Shared.ManageLayout
@attribute [Authorize]
@inject IdentityUserAccessor UserAccessor
@*
    Personal-data hub: download or delete. Counterpart of
    Areas/Identity/Pages/Account/Manage/PersonalData.
*@
<PageTitle>Personal Data</PageTitle>

<h2 class="title is-5">Personal Data</h2>
<StatusMessage />

<div class="content">
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p><strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong></p>
</div>

<form action="Account/Manage/DownloadPersonalData" method="post">
    <AntiforgeryToken />
    <button class="button" type="submit">Download</button>
</form>

<a class="button is-danger is-light mt-3" href="Account/Manage/DeletePersonalData">Delete</a>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
