@namespace WebWayCMS.Presentation.Components.Layouts
@* Sidebar (4) + main (8); sidebar appears first. *@
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <ContentZone ZoneName="Sidebar" />
            </div>
            <div class="column is-8">
                <ContentZone ZoneName="Main" />
            </div>
        </div>
    </div>
</section>
