@namespace WebWayCMS.Presentation.Components.Layouts
@* Centered narrow column (8/12, offset 2). *@
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <ContentZone ZoneName="Main" />
            </div>
        </div>
    </div>
</section>
