@namespace WebWayCMS.Presentation.Components.Layouts
@* Stacked full-width Header / Content / Footer sections. *@
<section class="section">
    <div class="container">
        <ContentZone ZoneName="Header" />
    </div>
</section>

<section class="section">
    <div class="container">
        <ContentZone ZoneName="Content" />
    </div>
</section>

<section class="section">
    <div class="container">
        <ContentZone ZoneName="Footer" />
    </div>
</section>
