@namespace WebWayCMS.Presentation.Components.Layouts
@* Two equal columns (6/6). *@
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <ContentZone ZoneName="Left" />
            </div>
            <div class="column is-6">
                <ContentZone ZoneName="Right" />
            </div>
        </div>
    </div>
</section>
