@page "/Account/ForgotPasswordConfirmation"
@namespace WebWayCMS.Presentation.Components.Account.Pages
@layout WebWayCMS.Presentation.Components.Account.Shared.AccountLayout
@*
    Static confirmation shown after requesting a password reset. Counterpart of
    Areas/Identity/Pages/Account/ForgotPasswordConfirmation.
*@
<PageTitle>Forgot password confirmation</PageTitle>

<h1 class="title is-4">Forgot password confirmation</h1>
<p>Please check your email to reset your password.</p>
