@page "/Account/InvalidPasswordReset"
@namespace WebWayCMS.Presentation.Components.Account.Pages
@layout WebWayCMS.Presentation.Components.Account.Shared.AccountLayout
@*
    Shown when a password-reset link is missing its code. Counterpart of the template's
    InvalidPasswordReset page.
*@
<PageTitle>Invalid password reset</PageTitle>

<h1 class="title is-4">Invalid password reset</h1>
<p>The password reset link is invalid. Please <a href="Account/ForgotPassword">request a new link</a>.</p>
